<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="/static/style.css"/>
<body>
    <h1> Leave App </h1>
    <button id="addAnnual">Add New Annual Leave</button>
    <button id="addMedical">Add New Medical Leave</button>
    <div class="container">
        <div class="left">
            <h3> Database Applications here </h3>
            <table id="leaveApplicationDB">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Type</th>
                    <th scope="col">Date</th>
                    <th scope="col">Reason</th>
                    <th scope="col">Options</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody id="leaveApplicationDBBody"></tbody>
            </table>
        </div>
        <div class="right">
            <h3>Your Pending Applications here</h3>
            <table class="table">
                <tbody id="applications">
                </tbody>
            </table>
            <div id="posts"></div>
            <div id="dbmsg"></div>
            <button id="insertToDB">Save to DB</button>
        </div>
    </div>
</body>

<script src="/static/Leave_Helpers.js"></script>
<script src="/static/Leave_API.js"></script>
<script src="/static/Leave.js"></script>
</html>